<%= render 'shared/page_banner', :page_title => 'Products' %>
<div class="product-index">
  <ul id="product_list">
    <% for @product in @products %>
        <li class="product-item-wrapper">
          <div class="product-item">
            <div class="product-image-wrapper">
              <div class="product-image" style='background-image:url(<%= path_to_image(@product.image.url) %>);'></div>
              <div class="product-image-back">
                <div class="product-image-back-blur">
                  <%= @product.description %>
                </div>
              </div>
            </div>
            <div class="product-item-title">
              <%= link_to "View", @product %>
            </div>
            <div class="product-price">
              $ <%= @product.price %>.00
            </div>
            <div class="product-buttons">
              <button class="shop-function-button buy">
                <i class="glyphicon glyphicon-shopping-cart "></i>
              </button>
              <button class="shop-function-button remove" onclick="window.location.href='#'">
                <i class="glyphicon glyphicon-heart "></i>
              </button>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
